[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "bundle/grep"]
	path = bundle/grep
	url = http://github.com/vim-scripts/grep.vim.git
[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = http://github.com/motemen/git-vim.git
[submodule "bundle/rdark"]
	path = bundle/rdark
	url = http://github.com/vim-scripts/rdark.git
[submodule "bundle/rdark-terminal"]
	path = bundle/rdark-terminal
	url = http://github.com/vim-scripts/rdark-terminal.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = http://github.com/vim-scripts/Align.git
[submodule "bundle/The-NERD-Commenter"]
	path = bundle/The-NERD-Commenter
	url = http://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/YankRing"]
	path = bundle/YankRing
	url = http://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = http://github.com/Shougo/neocomplcache.git
[submodule "bundle/quickrun"]
	path = bundle/quickrun
	url = http://github.com/thinca/vim-quickrun.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule "bundle/neocomplcache-ghc"]
	path = bundle/neocomplcache-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
