[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "bundle/NERD-Commenter"]
	path = bundle/NERD-Commenter
	url = http://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/grep"]
	path = bundle/grep
	url = http://github.com/vim-scripts/grep.vim.git
[submodule "bundle/Sorceror"]
	path = bundle/Sorceror
	url = http://github.com/vim-scripts/Sorceror.git
